* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1;
}

body {
    font-family: 'News Cycle', Ariel, sans-serif;
    font-size: 14px;
    width: 100%;
}

/* Banner Styles*/
.banner {
    background-color: #5E8E1A;
    text-align: center;
    grid-area: header;
}

.logo-image {
    float: left;
    width: 60px;
    height: auto;
    padding: 10px
}

.motto {
    font-family: "News Cycle", Ariel, sans-serif;
    font-size: 12px;
    font-style: italic;
    color: black;
}

/* Navigation Styles*/
.navibar {
    background-color: #3A5A05;
    text-align: right;
    grid-area: nav;
}

nav a {
    color: #CEDDF0;
}

nav a:active {
    background-color: #5abef0;
}

nav li {
    font-size: 16px;
    font-family: 'Julius Sans One', sans-serif;
    display: inline-block;
    padding: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #CEDDF0;
}

/*Heading Styles*/
h1 {
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 25px;
}

h2 {
    color: #744F2D;
    font-family: "Julius Sans One", sans-serif;
    font-size: 25px;
}

h3 {
    font-family: "Julius Sans One", sans-serif;
    font-size: 20px;
}

/*Footer Styles*/
#footersec {
    color: #CEDDF0;
    background-color: #2F303F;
    grid-area: footer;
}