

 

 body {
     font-family: 'News Cycle', Ariel, sans-serif;
     font-size: 14px;
     max-width: 300px;
 }

 /* Banner Styles*/
 .banner {
     background-color: #5E8E1A;
     text-align: center;
     grid-area: header;
 }

 .logo-image {
     float: left;
     width: 60px;
     height: auto;
     padding: 10px
 }

 .motto {
     font-family: "News Cycle", Ariel, sans-serif;
     font-size: 12px;
     font-style: italic;
     color: black;
 }

 /* Navigation Styles*/
 nav {
     background-color: #3A5A05;
     text-align: right;
     grid-area: nav;
     }
.dropbtn {
    background-color: #2F303F;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
 nav a {
     color: #CEDDF0;
     }

 nav a:hover {
     color: #e03618;
     background-color: #dde1e3;
 }

 nav li {
     font-size: 16px;
     font-family: 'Julius Sans One', sans-serif;
         display: inline-block;
     padding: 16px;
     font-weight: bold;
     text-transform: uppercase;
     letter-spacing: 2px;
     color: #CEDDF0;
 }

 /*Heading Styles*/
 h1 {
     color: white;
     font-family: 'Julius Sans One', sans-serif;
     font-size: 25px;
 }

 h2 {
     color: #744F2D;
     font-family: "Julius Sans One", sans-serif;
     font-size: 25px;
 }

 h3 {
     font-family: "Julius Sans One", sans-serif;
     font-size: 20px;
 }

 .city {
         display: grid;
         grid-template-columns: 1fr;
         grid-gap: 5px;
         padding: 5px;
         grid-area: main;
     }

 /*Footer Styles*/
 #footersec {
     color: #CEDDF0;
     background-color: #2F303F;
     grid-area: footer;
 }