@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

table {
    width: 400px;
    box-shadow: 5px 10px 18px #628ca6;
    font-family: 'Ubuntu', sans-serif;
}

table,
th,
td {
    border: 2px solid lightgrey;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    
}

th {
    background-color: #628ca6;
    color: white;
    font-weight: 800;
}

thead th,
tfoot td {
    background-color: #7fb9c2;
    color: black;
}
 thead th {
     font-size: 35px;
     font-weight: 1000;
 }

 tfoot td {
     font-size: 16px;
     font-weight: bold;
 }

tr {
    background-color: #e7ffed;
    }

tr:nth-child(even) {
    background-color: #e7f0ed;
}

#cell {
    background-color: #628ca6;
    color: white;
}