.container {
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(350px, 1fr));
    overflow: auto;
    resize: horizontal;
    gap: 15px;
}

main,
footer {

    max-width: 2000px;
    margin: initial;
    padding: 10px;
}

container picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}


.container figcaption {
font-size: smaller;
padding-left: 2em;
}


