@media only screen and (min-width: 32.5em) {

    aside {
       padding: 2rem;
       font-size: 1.1rem;
    }
    .logo-image {
        width: 6rem;
        height: auto;
    }

    h1 {
        font-size: 2.3rem;
    }

    .navigation {
        display: flex;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    nav a {
        font-size: 1rem;
    }

    footer {
        flex-flow: row;
    }

    /*Town Styles*/
    .weather-summary {
       width: 30%;
    }

    /*Forecast Styles*/
.forecast {
    display: block;
    width: 100%;
    padding: 10px;
   }

table {
    width: 70%;
    margin: 20px auto;
    table-layout: auto;
}

table,
td,
th {
    border-collapse: collapse;
    border: 1px solid black;
}

th,
td {
    padding: 10px;
    text-align: center
}

.forecast-image {
    width: 3rem;
    height: auto;
}

.forecast th {
    background-color: #3A5A05;
    color: white;
}
 .forecast h3 {
     text-align: center;
 }

/*Article styles*/
article img {
    width: 260px;
    float: right;
    padding: 10px;
}

   
}